{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1>Create New Post</h1>
    <form method="POST">
      <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" name="title" class="form-control" id="postTitle" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <small id="contentHelp" class="form-text text-muted">Markdown now supported, try it now!</small>
        <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="10" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
    
{% endblock %}