{% extends 'base.html' %} 

{% block header %}
  <h1>{% block title %}View "{{ post['title'] }}"{% endblock %}</h1>

  {% block custom_style %}

  
  {% endblock custom_style %}
{% endblock header %} 

{% block content %}
<article class="article">
  <div class="article-title">
      <h6><a href="#">Tag Here</a></h6>
      <h2>{{ post['title'] }}</h2><small>by <strong>{{ user['username']}}</strong></small>
  </div>
  <div class="article-content">
      <p>{{ post['body']  }}</p>
  </div>
</article>
{% if user_liked %}
      <form action="{{ url_for('blog.unlike_post', post_id=post.id) }}" method="POST">
        <button type="submit">Unlike</button>
      </form>
    {% else %}
      <form action="{{ url_for('blog.like_post', post_id=post.id) }}" method="POST">
        <button type="button" class="btn btn-primary">Like Post</button>
      </form>
    {% endif %}
    <div class="justify-content-center mt-50 mb-100">
      <div class="row">
          <div class="col-md-12">
    
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Recent Comments</h4>
                    <h6 class="card-subtitle">Latest Comments section by users</h6> </div>
                    <div class="comment-widgets m-b-20">
                      {% if comment%} {% for post_comment in comment %}
                      <div class="d-flex flex-row comment-row">
                          <div class="p-2"><span class="round"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" width="50"></span></div>
                          <div class="comment-text w-100">
                              <h5>{{ post_comment.username }}</h5>
                              <div class="comment-footer">
                                  <span class="date">{{ post_comment.created_at }}</span>
                                  <span class="label label-info">Pending</span> <span class="action-icons">
                                          <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                          <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                                          <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                      </span>
                              </div>
                              <p class="m-b-5 m-t-10">{{ post_comment.body }}</p>
                          </div>
                      </div>
                      {% endfor %} {% else %} There is no comment {% endif %}
                    </div>
                  </div>
          
                </div>
            </div>
      </div>

    {% if g.user %}
      <div class="contact-form article-comment">
        <h4>Leave a Reply</h4>
        <form id="contact-form" method="POST" action="{{ url_for('blog.post_single_view', id=post.id) }}">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea name="comment_body" id="message" placeholder="Your message *" rows="4" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="send">
                        <button class="px-btn theme"><span>Submit</span> <i class="arrow"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

{% endblock %}
